[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/paradiseo"]
	path = external/paradiseo
	url = https://github.com/nojhan/paradiseo.git
[submodule "external/clutchlog"]
	path = external/clutchlog
	url = https://github.com/nojhan/clutchlog.git
